experiment/datasets/RTFM.xes
testscript.py
alternatives/__pycache__/__init__.cpython-311.pyc
entroclus/__pycache__/__init__.cpython-311.pyc
entroclus/__pycache__/entropic_clustering_utils.cpython-311.pyc
entroclus/__pycache__/entropic_clustering_variants.cpython-311.pyc
entroclus/__pycache__/entropic_clustering.cpython-311.pyc
entroclus/__pycache__/entropic_relevance.cpython-311.pyc
entroclus/__pycache__/utils.cpython-311.pyc
alternatives/__pycache__/frequency_based.cpython-311.pyc
alternatives/__pycache__/random_clustering.cpython-311.pyc
alternatives/__pycache__/trace2vec_based.cpython-311.pyc
experiment/datasets/Helpdesk.xes
evaluation/__pycache__/__init__.cpython-311.pyc
evaluation/__pycache__/metrics.cpython-311.pyc
evaluation/__pycache__/tade.cpython-311.pyc
evaluation/__pycache__/tade_conformance.cpython-311.pyc
evaluation/__pycache__/graph_simplicity_metrics.cpython-311.pyc
experiment/datasets/Sepsis.xes.gz
experiment/datasets/BPIC15.xes
experiment/datasets/HospitalBilling.xes.gz
experiment/datasets/BPIC19.xes
experiment/datasets/
experiment/experimental_results_one_cluster_size/clusters
experiment/experimental_results_elbow/clusters
alternatives/__pycache__/trace2vec_fixed.cpython-311.pyc
experiment/experimental_results_one_cluster_size/results/*.tex
experiment/stats_test.py
experiment/format_tables.py
entroclus/__pycache__/__init__.cpython-39.pyc
entroclus/__pycache__/utils.cpython-39.pyc
